@charset "utf-8";

// 1. Import the initial variables
@import "sass/utilities/initial-variables";
@import "sass/utilities/functions";

@import url('https://fonts.googleapis.com/css?family=Oswald:300|Source+Sans+Pro');

$family-primary: 'Source Sans Pro', serif;
$family-special: 'Oswald', serif;

@import "sass/utilities/_all";
@import "sass/base/_all";
@import "sass/elements/_all";
@import "sass/components/_all";
@import "sass/grid/_all";
@import "sass/layout/_all";

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 100;
}

.navbar-brand {
    font-size: 1.6rem;
    font-family: $family-special;
}

.navbar-brand img {
    margin-right: 0.6rem;
}

.intro {
    padding: 6rem 0;
    overflow: hidden;
}

.mega-title {
    font-size: 3rem;
    font-family: $family-special;
}

@media (min-width: 667px) {
    .mega-title {
        font-size: 5rem;
    }

    .intro {
        padding: 16rem 0;
    }
}

section:first-of-type {
    margin-top: 3.25rem;
}

footer {
    padding: 8rem 0;
}

.footer-link img {
    vertical-align: middle;
}

.footer-link a {
    font-size: 3rem;
}
